/*
display - свойство, изменяющее тип компонента
*/
p {
    display: inline-block;
}
/*
border - свойство, отвечающее за рамку компонента
*/
p, div, span {
    /* Сложное свойство в одну строку */
    /* Толщина линии, вид линии, цвет линии*/
    border: 1px solid #30459c;

    /* Альтернативный вариант (по-отдельности)*/
    border-color: #4a50d6;
    border-width: 2px;
    border-style: double;
}

p {
    width: 200px;
}