/* Селектор элемента - выбирает все элементы этого типа */
div {
    border: 1px solid #2a7f24;
    margin: 10px;
    overflow: auto;
}

/* Селектор класса - выбирает все данные классы */
.main {
    background-color: #b1f4ff;
}

/* Селектор по id - выбирает элементы с данным id */
#uniq {
    color: gold;
}

/*  Селектор по атрибуту
    a[href]                 Выбор элементов, у которых есть атрибут href
    a[href="yandex.ru"]     Элементы у которых атрибут href равен yandex.ru
    a[href~="yandex"]       Элементы у которых в значении атрибута href есть слово yandex разделённое пробелом
    a[href|="yandex"]       Элементы у которых в значении атрибута href есть слово yandex после которого может идти -
    a[href^="yandex"]       Элементы у которых в значении атрибута href начинается со слова yandex
    a[href$="yandex"]       Элементы у которых в значении атрибута href заканчивается словом yandex
    a[href*="yandex"]       Элементы у которых в значении атрибута href содержит слово yandex
*/
a[href="yandex.ru"] {
    color: brown;
}

/* Селектор по псевдоклассу
   Псевдоклассов достаточно много, обо всех можно посмотреть в документации.
   Или на сайте: https://www.w3schools.com/css/css_pseudo_elements.asp
   :hover           - наведение мыши
   :active          - клик мыши
   :link            - непосещённая ссылка
   :not(selector)   - не являющийся каким-либо селектором
   :nth-child(n)    - каждый n-й элемент
   ...
*/
#uniq:hover {
    color: white;
    background-color: #36361a;
}

#uniq:active {
    color: blue;
    background-color: #36361a;
}

/* Селектор по псевдоэлементам
   ::after      - вставляет что-либо после элемента
   ::before     - вставляет что-либо до элемента
   ::selection  - стиль выделения
*/
div::selection {
    background-color: #12FFAA;
}

#uniq::before {
    content: 'Привет';
    display: block;
}

#uniq::after {
    content: 'Привет';
    display: block;
}

/* --- Комбинирование селекторов --- */

/* Перечисление селекторов
   К каждому элементу применяется данный стиль
*/
div, a, body {
    /* Выбираются все div, a и body */
}

/* Селектор потомков
   Выбираются все селекторы потомки, вне зависимости от вложенности
*/

#uniq a {
    /* Все a внутри #uniq */
}

/* Селектор дочерних элементов
   Выбираются элементы, которые являются потомками, без учёта вложенных элементов.
*/
#uniq > div {
    /* Все div, которые находятся в #uniq, но не в его вложенных элементах */
}

/* Селектор первого соседа
   Выбирается элемент, который первый идёт в списке после данного.
*/
div + a {
    /* Каждый a, который идёт первым после div */
}

/* Селектор всх соседей
   Выбираются все соседи, находящиеся на одном уровне, относительно данного элемента.
*/
div ~ a {
    /* Все a, которые идёт после div на одном уровне. */
}